#google:hover{
    color:red;
}
#facebook:hover{
    color:blue;
}
#twitter:hover{
    color:cyan;
}
#login{
    display: flex;
}
body{
    background-image: url(img/thumb-1920-692043.jpg);
}