body{
    background-image: url(https://img.freepik.com/premium-photo/3d-rendering-black-dumbbells-floor-dark-concept-fitness-room-with-training-equipments-back_67155-14961.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}